.member-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.member-card p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
}

.member-card__actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.member-card__actions button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.member-card__actions button:hover {
    background-color: #0056b3;
}

