*{
    text-align: right;
    margin: 0;
    padding: 0;
}

.homepage-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  
  .navigation-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navigation-menu li {
    margin-bottom: 20px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  